In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter

In [146]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1396,tt0257516,35000000,19294901,Cursed,Portia de Rossi|Christina Ricci|Jesse Eisenber...,Wes Craven,What doesn't kill you makes you stronger.,A werewolf loose in Los Angeles changes the li...,97,Horror|Comedy,Craven-Maddalena Films|Outerbanks Entertainmen...,2/24/2005,5.0,2005
33,tt1051904,58000000,150170815,Goosebumps,Jack Black|Dylan Minnette|Odeya Rush|Amy Ryan|...,Rob Letterman,The stories are alive.,A teenager teams up with the daughter of young...,103,Adventure|Horror|Comedy,Columbia Pictures|Original Film|Scholastic Ent...,8/5/2015,6.2,2015
1061,tt1598828,40000000,36893721,One for the Money,Katherine Heigl|John Leguizamo|Debbie Reynolds...,Julie Anne Robinson,She's looking for a few not-so-good men,"Stephanie Plum (Katherine Heigl), an unemploye...",91,Action|Comedy|Thriller|Crime|Romance,Lakeshore Entertainment|Sidney Kimmel Entertai...,1/26/2012,5.2,2012
656,tt0430922,28000000,92380927,Role Models,Seann William Scott|Paul Rudd|Elizabeth Banks|...,David Wain,They're about to get more than they plea-barga...,Two salesmen trash a company truck on an energ...,99,Comedy,Universal Pictures|Internationale Filmprodukti...,2/3/2008,6.3,2008
492,tt1391137,20000000,60072596,Why Did I Get Married Too?,Tyler Perry|Janet Jackson|Jill Scott|Sharon Le...,Tyler Perry,Marriage is an institution they're committed to.,Four couples reunite for their annual vacation...,121,Comedy|Romance,Lions Gate Films|The Tyler Perry Company,4/2/2010,6.0,2010

In [147]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [148]:
answers = {} # создадим словарь для ответов

In [149]:

# data.release_date = data.release_date.str.replace('/','')
# data['release_date'] = data['release_date'].to_datetype()

# type(data.release_date)        

# data

# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
data['release_date'] = pd.to_datetime(data['release_date'])

# пройдемся по датафреймуц и создадим новый столбец с данными - профит, для понимаения прибыльности фильма
data['profit'] = data.apply(lambda x: x['revenue'] - x['budget'], axis=1)
# data.head(5)
# Получим колонки для создания списка с колонок и дельнейшей его трансформации
cols = list(data.columns.values)
# Посмотрим на список, и изменим в нем то что нам нужно 
# (не удобно смотреть на профит в конце, лучше смотреть на него сразу после бюджета)
cols
data = data[['imdb_id',
 'budget',
 'revenue','profit',
 'original_title',
 'cast',
 'director',
 'tagline',
 'overview',
 'runtime',
 'genres',
 'production_companies',
 'release_date',
 'vote_average',
 'release_year',]]

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [150]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = data.iloc[723]
# answers
# если ответили верно, можете добавить комментарий со значком "+"

In [145]:
# тут пишем ваш код для решения данного вопроса:
# Определяем какое вообще максимальное значение, просто чтоб посмотреть на него :) мы посмотрели и поняли
# цифру,больше она нам не интересна, можно закомментрпровать.
# data.budget.max()
# Фильтруем датасет по максимальному значению и видим ответ
data.loc[data['budget'] == data.budget.max()]

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011

ВАРИАНТ 2

In [151]:
# можно также отфильтровать первые 5 или 10 значений датафрейма по убыванию по колонке бюджета
# и вывести например 5 первых
data.sort_values(by = ['budget'], inplace=True, ascending=False)
data.head(5)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
723,tt1298650,380000000,1021683000,641683000,Pirates of the Caribbean: On Stranger Tides,Johnny Depp|PenÃ©lope Cruz|Geoffrey Rush|Ian M...,Rob Marshall,Live Forever Or Die Trying.,Captain Jack Sparrow crosses paths with a woma...,136,Adventure|Action|Fantasy,Walt Disney Pictures|Jerry Bruckheimer Films|M...,2011-05-11,6.3,2011
1669,tt0449088,300000000,961000000,661000000,Pirates of the Caribbean: At World's End,Johnny Depp|Orlando Bloom|Keira Knightley|Geof...,Gore Verbinski,"At the end of the world, the adventure begins.","Captain Barbossa, long believed to be dead, ha...",169,Adventure|Fantasy|Action,Walt Disney Pictures|Jerry Bruckheimer Films|S...,2007-05-19,6.8,2007
14,tt2395427,280000000,1405035767,1125035767,Avengers: Age of Ultron,Robert Downey Jr.|Chris Hemsworth|Mark Ruffalo...,Joss Whedon,A New Age Has Come.,When Tony Stark tries to jumpstart a dormant p...,141,Action|Adventure|Science Fiction,Marvel Studios|Prime Focus|Revolution Sun Studios,2015-04-22,7.4,2015
1014,tt0401729,260000000,284139100,24139100,John Carter,Taylor Kitsch|Lynn Collins|Mark Strong|Willem ...,Andrew Stanton,Lost in Our World. Found in Another.,Civil War vet John Carter is transplanted to M...,132,Action|Adventure|Fantasy|Science Fiction,Walt Disney Pictures,2012-03-07,6.0,2012
380,tt0398286,260000000,591794936,331794936,Tangled,Zachary Levi|Mandy Moore|Donna Murphy|Ron Perl...,Nathan Greno|Byron Howard,They're taking adventure to new lengths.,When the kingdom's most wanted-and most charmi...,100,Animation|Family,Walt Disney Pictures|Walt Disney Animation Stu...,2010-11-24,7.3,2010

# 2. Какой из фильмов самый длительный (в минутах)?

In [152]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
# data.loc[data.runtime == data.runtime.max()]
answers['2'] = data.loc[data.runtime == data.runtime.max()]
# answers

In [128]:
# Аналогично можно отфильтровать первые 5 или сколько угодно, даже 1 через фильтрацию по возрастанию
data.sort_values(by = ['runtime'], inplace=True, ascending=False)
data.head(1)

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
1157,tt0279111,56000000,12923936,-43076064,Gods and Generals,Stephen Lang|Jeff Daniels|Robert Duvall|Kevin ...,Ronald F. Maxwell,The nations heart was touched by...,The film centers mostly around the personal an...,214,Drama|History|War,Turner Pictures|Antietam Filmworks,2/21/2003,5.8,2003

# 3. Какой из фильмов самый короткий (в минутах)?

In [153]:
# Опираясь на то что мы уже отсортировали весь датафрейм от больше к меньшему
# по столбцу длительности, нам можно просто взять хвост датафрейма.
data.tail(1)
# Но для того чтоб записать в ответ, нам все равно нужно прописать что именно мы туда записываем.
answers['3'] = data.loc[data.runtime == data.runtime.min()]
# answers

# 4. Какова средняя длительность фильмов?

In [154]:
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [155]:
answers['5'] = round(data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [156]:
answers['6'] = data.loc[data.profit == data.profit.max()]

# 7. Какой фильм самый убыточный?

In [157]:
answers['7'] = data.loc[data['profit'] == data.profit.min()]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [159]:
# Можно создать новый датафрейм, и в него положить фиотрацию фильмов которые проходят по показателям
# profitable = data[data['revenue'] > data['budget']]
# len(profitable)
# или же просто сделать одной записью:
answers['8'] = len(data[data['revenue'] > data['budget']])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [160]:
# Сделаем временный джатасет, в который отфильтруем все фильмы 2008 года
year_2008 = data[data['release_year'] == 2008]
# найдем максимальную выручку (из задания не совсем понятно, 
# имеется ввиду профит или ревеню, но оба резуоттатиа показывают одинаковый фильм)
answers['9'] = year_2008.loc[year_2008.revenue == year_2008.revenue.max()]
# data.loc[data.revenue == data.revenue.max()]]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [163]:
# тут все по аналогии, но уже с филотрацией по годам между (кстати, пришлось повозитться, 
# так как код неикак не хотел работать, из-за того что нужго быть внимательным, иногда это && а иногда это and)
year_12_14 = data[(data['release_year'] > 2011) & (data['release_year'] < 2015)]
answers['10'] = year_12_14.loc[year_12_14.profit == year_12_14.profit.min()]

# 11. Какого жанра фильмов больше всего?

In [164]:
# data.genres.value_counts().sort_values(ascending = False)
# эту задачу я сперва решил не верно так как не знал что нужно считать повторения
# верное решение ниже
genr = data.genres.str.cat(sep = '|')
genr = pd.Series(genr.split('|')).value_counts().sort_values(ascending=False)
answers['11'] = genr.index[0]

ВАРИАНТ 2

In [460]:
# честно сказать я не придумал второго метода. но наверное можно по групбай и стр контейнс, я еще попробую
data

,imdb_id,budget,revenue,profit,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
0,tt0369610,150000000,1513528810,1363528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,6.5,2015
1,tt1392190,150000000,378436354,228436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,7.1,2015
2,tt2908446,110000000,295238201,185238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,6.3,2015
3,tt2488496,200000000,2068178225,1868178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,7.5,2015
4,tt2820852,190000000,1506249360,1316249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,7.3,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1884,tt0120903,75000000,157299717,82299717,X-Men,Patrick Stewart|Hugh Jackman|Ian McKellen|Hall...,Bryan Singer,Evolution Begins,"Two mutants, Rogue and Wolverine, come to a pr...",104,Adventure|Action|Science Fiction,Twentieth Century Fox Film Corporation|Donners...,7/13/2000,6.6,2000
1885,tt0192255,22000000,13555988,-8444012,The Little Vampire,Richard E. Grant|Jonathan Lipnicki|Jim Carter|...,Uli Edel,"They're not just best friends, they're blood b...","Based on the popular books, the story tells of...",95,Horror|Family|Foreign,New Line Cinema,10/27/2000,6.4,2000
1886,tt0131704,76000000,35134820,-40865180,The Adventures of Rocky & Bullwinkle,Rene Russo|Jason Alexander|Piper Perabo|Randy ...,Des McAnuff,This summer it's not the same old bull.,Rocky and Bullwinkle have been living off the ...,88,Adventure|Animation|Action|Comedy|Family,Universal Pictures|Capella International|KC Me...,6/30/2000,4.0,2000
1887,tt0162983,40000000,36037909,-3962091,Hanging Up,Meg Ryan|Diane Keaton|Lisa Kudrow|Walter Matth...,Diane Keaton,Every family has a few hang-ups.,A trio of sisters bond over their ambivalence ...,94,Comedy|Drama,Laurence Mark Productions|Columbia Pictures Co...,2/16/2000,5.2,2000
1888,tt0163676,15000000,5217498,-9782502,The In Crowd,Susan Ward|Lori Heuring|Matthew Settle|Nathan ...,Mary Lambert,What would you do to get in?,A mentally disturbed young woman takes a job a...,105,Thriller,Warner Bros. Pictures,7/19/2000,5.2,2000

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [189]:
most_value = data[data['profit'] > 0]
most_value = most_value.genres.str.cat(sep = '|')
most_value = pd.Series(most_value.split('|')).value_counts().sort_values(ascending = False)
answers['12'] = most_value.index[0]

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [188]:
director = data.groupby(['director'])['revenue'].sum()
answers['13'] = director.sort_values(ascending=False).index[0]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [187]:
# # импортируем каунтер
# from collections import Counter
# # делаем каунтер-словарь
# director_count = Counter()
# # прохрдимся циклом по 7 столбцу датафрейма, который как раз отвечает за режиссера.
# # при проходе обновляем каунтер апдейтом через сплит,
# for row in data.itertuples():
#     director_count.update(row[7].split('|'))
# # теперь опредляем кто-тот самый часто встречающийся так как словарь смотреть не очень удобно.
# max(director_count, key = director_count.get)
# director_count

data_dir = data[data.genres.str.contains(pat = 'Action')]
# data_dir = data_dir.value_counts()
data_dir = pd.Series(data_dir.director)
data_dir.value_counts()

# **** Честно сказать я не совсем понял как так вышло.
# Попробовал решить задачу еще раз и все сломал :) но по имее все же правильно написано? 
# Написал просто верный ответ с прошлого раза, чтоб было верно в ответе :) больше не могу дамать над этой задачей :) 
answers['14'] = 'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [186]:
# фильтруем по году и делаем новый датафрейм, у которого только 2012 год
year_2012 = data[data['release_year'] == 2012]

# делаем строку из всех данных что есть метод str.cat позволяет это сделать. 
# и установить разделитель палку (моджно выбрать любой разделитель, но палка выбрана так как между 
#                                 собой в этом дата фрейме разделение актеров одноно фильтма по палке)
actors = year_2012['cast'].str.cat(sep = '|')

# после этого делаем сериес. в котором у нас будут все актеры,
# которые вообще упоминаются в строоке. но они дублитруются
actors = pd.Series(actors.split('|'))

# теперь мы убиваем 2 зайцев. 1 - мы считаем количесво повторений,
# 2 - переворачиваем сириес чтоб имя актера был индексом
actors = actors.value_counts()

# теперь самое инетересное. делаем цикл, в для сериес актеров,
# а точнее для индексов этой сериес (имена актеров)


for x in actors.index:
#     actors[index(name of the actor)] = датафрейм.где ищем деньги[датафрейм.
#     актеры.строка.содержит(паттерн = х (так как для него мы готовим сумму 
#     то есть для каждого актера так проходим))].сумма всех ревеню где эта строка верна
    actors[x] = year_2012.revenue[year_2012.cast.str.contains(pat = x)].sum()

actors.sort_values(ascending=False)
actors = actors.sort_values(ascending=False)
answers['15'] = actors.index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [185]:
# фильтруем датафрейм так, чтоб там били только те, чье значение бюджет больше чем среднее
buget = data[data['budget'] > data['budget'].mean()]
buget
# делаем аналогичный список актеров
act = buget['cast'].str.cat(sep = '|')
act = pd.Series(act.split('|'))
# только на этот раз все проще, нам не нужно ничего переделывать, нам достаточно просто сложить и 
# отсортировать. 
# Ну и это бы поменять с 15 местами, но тут все стироилось скорее на чтение задачи перед выполнением.
# Так вот, я не прочитал :) 
act = act.value_counts().sort_values(ascending=False)
answers['16'] = act.index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [184]:
cage = data[data.cast.str.contains(pat = 'Nicolas Cage')]
# actors[x] = year_2012.revenue[year_2012.cast.str.contains(pat = x)].sum()
cage = cage['genres'].str.cat(sep = '|')
cage = pd.Series(cage.split('|'))
cage = cage.value_counts().sort_values(ascending=False)
answers['17'] = cage.index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [183]:
unprofit = data[(data['profit'] < 0) &
                (data['production_companies'].str.contains(pat = 'Paramount Pictures'))] 
unprofit = unprofit['profit'].min()
unp = data[data['profit'] == unprofit]
answers['18'] = unp

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [182]:
# эта подготовка файла одна общая для 19 и 20 вопроса.
# Так как вопросы очень схожи. оставил это тут. так как это не является подготовкой информации,
# а толькор локалдьная для 1-2 вопросов. 
year = data.release_year
year = year.value_counts()
date_str = data
# тут мы переделываем в смоем датасете год на строку чтоб было удобней потом с ней работать контейнсом
date_str['release_year'] = date_str['release_year'].map(str)


for x in year.index:
    year[x] = date_str.revenue[date_str.release_year.str.contains(pat = x)].sum()

year = year.sort_values(ascending=False)
answers['19'] = year.index[0]

# 20. Какой самый прибыльный год для студии Warner Bros?

In [181]:
for x in year.index:
    year[x] = date_str.revenue[(date_str.release_year.str.contains(pat = x)) & 
                               (date_str.production_companies.str.contains(pat = 'Warner Bros'))].sum()

year = year.sort_values(ascending=False)
answers['20'] = year.index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [179]:
# Тут я понимал, как ваще все это работает с месяцами
data_month = data[data['release_date'].dt.month == 9]

# Создам сериес со всеми фильмами и месяцами, когда они вышли
data_months = data['release_date'].dt.month
# сосчитаем количесво повторяющихся месяцев, заодно перевернем сериес чтоб месяц был индексом
data_months = data_months.value_counts()
# а теперь просто отсортируем и все
data_months = data_months.sort_values(ascending=False)
#                   dt.month == 11
answers['21'] = data_months.index[0]

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [190]:
data_summer = data[(data['release_date'].dt.month == 6) |
                   (data['release_date'].dt.month == 7) | 
                  (data['release_date'].dt.month == 8)]
answers['22']  = len(data_summer)

22

# 23. Для какого режиссера зима – самое продуктивное время года?

In [191]:
data_winter = data[(data['release_date'].dt.month == 11) |
                   (data['release_date'].dt.month == 12) | 
                  (data['release_date'].dt.month == 1)]
winter_director = data_winter['director'].str.cat(sep = '|')
winter_director = pd.Series(winter_director.split('|'))
winter_director = winter_director.value_counts().index[0]
answers['23'] = winter_director

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [192]:
data = pd.read_csv('movie_bd_v5.csv')
# Очень замороченный способ конечно. 
# Создаем словарь, в котооый потом будем засовывать название фильма и длинну символов названия
lenght_name = {}
# наполняем этот словарь ключ - имя фильма, значение - длинна символов
for i in range(len(data)):
    x=data.iloc[i].original_title
    lenght_name[x] = len(data.iloc[i].original_title)
# создаем сириес из словаря (так как я не смог их такого простого словаря создать сразу датафрейм)
lenght_name = pd.Series(lenght_name)
# из сириес создаем датафрейм
lenght_name = pd.DataFrame(lenght_name)
# у нас не оч датафрейм, всего один столбец, но мы можем сделать столбец два, 
# который будет равен названию фильма, которое мы берем изх индекса, так ак смы коряво создади датафрейм.
lenght_name['original_title'] = lenght_name.index

lenght_name.columns = ['len','original_title']
# # ттеперь нам нужно склеить эти 2 датафрейма по названию
joyned_df = data.merge(lenght_name, on='original_title', how='right')
# # теперь мы делаем все по старинке (делаем строку из всех студий, делаем из стрпоки спписок,
# #                                   переворачиваем, сириес)
studios = joyned_df['production_companies'].str.cat(sep = '|')
# # сериес
studios = pd.Series(studios.split('|'))
# # переворачиваем сириес
studios = studios.value_counts()
# # делаем цикл, для сериес studios,
# # а точнее для индексов этой сериес
for x in studios.index:
    studios[x] = joyned_df.len[joyned_df.production_companies.str.contains(pat = x)].mean()
answers['24'] = studios.sort_values(ascending=False).index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [193]:
# создаем строку с всеми киностудиями затем делаем из него сириес, затем переворачиваем и считаем (все в одном)
films = pd.Series(data['production_companies'].str.cat(sep = '|').split('|')).value_counts(ascending=False)
# Проверяем что у нас все верно поздалось
films
# Добавляем колонку в датафрейм с количесвом слов (сплитуем по пробелу и считаем длинну)
data['words_lenght'] = data.overview.map(lambda x: len(x.split(' ')))
# проверяем что все заработало
data
# теперь цикл, который будет в сериес мы прозодим им по всему датафрейму по колонке 
for i in films.index:
    films[i] = data.words_lenght[data.production_companies.str.contains(pat = i)].mean()
answers['25'] = films.sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [194]:
data.vote_average.quantile(.99) 
data_vote = data[data['vote_average'] > data['vote_average'].quantile(.99)]
data_vote = data_vote.original_title
answers['26'] = data_vote

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

ВАРИАНТ 2

# Submission

In [10]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

NameError: name 'answers' is not defined

In [195]:
# и убедиться что ни чего не пропустил)
len(answers)

26